# Terraform Ignores
**/.terraform/*
*.tfstate
*.tfstate.*
# Crash log files
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.enc     # Allow encrypted tfvars files, if you use them
backend.tf

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
.idea/codeStyles
.idea
.envrc
.DS_Store

# Talos
*.patch
!*.patch.tmpl
/talos/secrets.yaml
_out/**
!_out/
!_out/**/*.enc

# Ansible
ansible/secret.yaml.decrypted
ansible/secret.yaml.bak
ansible/secret.yaml.tmp

# ArgoCD
argocd/secrets/**/secrets.yaml
!argocd/secrets/**/secrets.yaml.enc
argocd/apps/nfs_provisioner/dev/deployment.yaml
argocd/apps/nfs_provisioner/prod/deployment.yaml