machine:
  network:
    hostname: talos-k8s-wn1
    interfaces:
      - interface: ens18 
        addresses:
          - ${TALOS_WN1_IP}/24
        routes:
          - network: 0.0.0.0/0
            gateway: ${GATEWAY}